.tag {
    gap: 5px;

    width: fit-content;
    padding: 0px 16px;
    height: 28px;

    background: $green;
    border-radius: 100px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-align: center;

    color: $black;
}
