.tile-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        margin-bottom: 16px;
    }

    &__search-form {
        display: flex;
        gap: 16px;
    }

    &__list {
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        align-content: start;
        overflow: auto;
        gap: 20px;

        height: 100%;
        width: 100%;

        border: 1px dashed $light-grey;
    }
}
